@import "tailwindcss"; 


/* body {
  margin: 0;
  /* Logo ke dark teal se start hone wala background */
  /* background: radial-gradient(circle at top right, #1a759f20, #001e26),
              radial-gradient(circle at bottom left, #76c89315, #001e26);
  background-color: #001e26;
  color: white;
}  */

